@import 'https://fonts.googleapis.com/css?family=Exo:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext';

* {
    box-sizing: border-box;
}

header {
    max-height: 150px;
}
body {
    font-family: 'Raleway', serif;
    margin: 0;
    padding: 0;
}
body h1 {
    font-family: 'Exo', serif;
    font-size: 30px;
}
body h2 {
    font-family: 'Exo', serif;
    font-size: 25px;
}
body h3 {
    font-family: 'Exo', serif;
}
nav a
{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

div.map
{
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 500px;
}

iframe.map
{
    height: 500px;
    width: 100%;
    border: 2px solid blue;
}

article.contact
{
    float: right;
    margin-left: 2%;
    width: 48%;
	height: 500px;
}

div.form
{
    float: left;
    width: 48%;
    margin-right: 2%;
	margin: 10px;
    height: 500px;
}

div.formgroup
{
	width: 75%;
	padding: 10px;
}

input
{
	float: right;
	width: 300px;
}