div.wrapper
{
    width: 90%;
    margin: auto;
}

body
{
    font-family: 'lato';
    margin: 0;
    padding: 0;
    background-image: url("img/contact/linnen.png");
}

nav a
{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

div.map
{
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 500px;
}

iframe.map
{
    height: 500px;
    width: 100%;
    border: 2px solid blue;
}

article.contact
{
    float: right;
    margin-left: 2%;
    width: 48%;
	height: 500px;
}

div.form
{
    float: left;
    width: 48%;
    margin-right: 2%;
	margin: 10px;
    height: 500px;
}

div.formgroup
{
	width: 75%;
	padding: 10px;
}

input
{
	float: right;
	width: 300px;
}