@import 'https://fonts.googleapis.com/css?family=Exo:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext';

* {
    box-sizing: border-box;
}

div.wrapper {
    width: 95%;
    margin: auto;
    background-color: lightsteelblue;
}

header {
    max-height: 150px;
}

body {
    font-family: 'Raleway', serif;
    margin: 0;
    padding: 0;
}

body h1 {
    font-family: 'Exo', serif;
    font-size: 30px;
}

body h2 {
    font-family: 'Exo', serif;
    font-size: 25px;
}

body h3 {
    font-family: 'Exo', serif;
}

body h4 {
    font-family: 'Exo', serif;
}

article {
    font-family: 'Raleway', serif;
    font-size: 18px;
}

header nav a {
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

main {
    font-family: 'Raleway', serif;
}

/* Begin Index */
header.IndexHeader {
    background: url("img/Headers/cans.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 60px;
    background-height: auto;
    background-width: auto;
    min-height: 150px;
    text-align: center;
}

header.ContactHeader {
    background: url("img/Headers/cans.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 60px;
    background-height: auto;
    background-width: auto;
    min-height: 150px;
    text-align: center;
    color: white;
}

header.IndexHeader nav a {
    color: #ffffff;
}
article {
    text-align: left;
    padding-left: 10px;
}

section.LinkerArticle {
    font-size: 15px;
    width: 30%;
    display: inline-block;
    margin-left: 52px;
}

section.MiddelsteArticle {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    width: 30%;
    display: inline-block;
}

section.RechtArticle {
    font-size: 15px;
    width: 30%;
    display: inline-block;
}

section.LinkerArticle img {
    width: 100%;
}

section.MiddelsteArticle img {
    width: 100%;
}

section.RechtArticle img {
    width: 100%;
}

/* Einde Index */

/* Begin Concerten */
div.Tabelconcerten {
    width: 45%;
    float: right;
}

div.grootimgconcert {
    width: 45%;
    float: left;
}

header.ConcertenHeader {
    background-color: #480498;
    width: 100%;
    height: 40%;
}

/* Einde Concerten */
/* Begin Sport */
header.SportHeader {
    background: url("img/Headers/Sport.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 60px;
    background-height: auto;
    background-width: auto;
    min-height: 150px;
    text-align: center;
}

header.SportHeader nav a {
    color: #ffffff;
}

Section.Sportrechtertext {
    width: 49%;
    float: right;
    display: inline-block;
    height: 90%;
}

h1.SportTitle {
    font-family: 'Exo';
    padding-left: 1%;
}

img.SportGroteFotos {
    width: 45%;
    height: 25%;
    padding-left: 2%;
}

img.SportKleineFotos {
    width: 30%;
    height: 20%;
    padding-left: 2%;
}

Section.FotosSport {
    Width: 49%;
    float: left;
    display: inline-block;
}

/* Einde Sport */
/* Begin contact pagina */
div.map {
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 500px;
    padding-left: 2%;
}

iframe.map {
    height: 500px;
    width: 100%;
    border: 2px solid blue;
    padding-left: 2%;
}

article.contact {
    float: right;
    margin-left: 2%;
    width: 48%;
    height: 500px;
    padding-left: 2%;
}

div.form {
    float: left;
    width: 48%;
    margin-left: 2%;
    margin-top: 10px;
    margin: 10px;
    height: 250px;
    padding-left: 3%;
}

div.formgroup {
    width: 60%;
    padding: 10px;
}

input {
    float: right;
    width: 300px;
}

input.submit {
    float: right;
    width: 100px;
}

textarea {
    float: right;
    width: 300px;
}

/* Einde contact */
/* Begin Recepten */
header.ReceptenHeader {
    background: url("img/recepten/aardbei.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 60px;
    background-height: auto;
    background-width: auto;
    min-height: 150px;
    text-align: center;
}

header.ReceptenHeader nav a {
    color: #ffffff;
}

div.wrapper1 {
    width: 95%;
    margin: auto;
    background-color: #ddffd6;
}

section.TekstLinks {
    margin-right: 10px;
    width: 30%;
    display: inline-block;
    text-align: left;
    padding-left: 2%;
}

section.PlaatjesRechts {
    width: 45%;
    display: inline-block;
    float: right;
    max-height: 780px;
}

section.PlaatjesRechts2 {
    width: 65%;
    display: inline-block;
    float: right;

}

img.plaatjeshomer {
    padding-right: 30px;
    padding-top: 30px;
    width: 49%;
    height: 49%;
}

footer.FooterRecepten {
    background-color: #808080;
    color: white;
    padding-left: 50px;
    font-size: 20px;
    max-height: 200px;
    min-height: 200px;
}

footer.FooterRecepten nav a {
    color: white;
    font-size: 15px;
}

img.onderkantsite {
    height: 15%;
    width: 24%;
    padding-left: 2%;
}

img.bord {
    height: 50%;
    width: 90%;
    padding-top: 10%;
}

/* Einde Recepten */
footer {
    background-color: #808080;
    color: white;
    padding-left: 50px;
    font-size: 20px;
    max-height: 200px;
    min-height: 200px;
}

footer nav a {
    color: white;
    font-size: 15px;
}

/*Bug Fixes */
section.FixSectionSport {
    min-height: 400px;
}

section.FixSectionContact {
    min-height: 850px;
    max-height: 900px;
}

h1.ContactFixH1 {
    padding-left: 2%;
}

/* Romek */