ul {
    padding: 0;
    margin: 0;
}

li {
    border-top: 1px solid white;

}

li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

@media all and (min-width: 550px) {
    li {
        display: inline-block;
        border: none;
    }
}

@media all and (min-width: 550px) {
    div.wrapper {
        width: 550px;
        margin: auto;
        background-color: #ffd6b7;
    }

    div.wrapper1 {
        width: 550px;
        margin: auto;
    }

    section.LinkerArticle {
        width: 540px;
    }
    section.MiddelsteArticle {
        width: 540px;
    }
    section.RechtArticle {
        width: 540px;
    }
    section.LinkerArticle img{
        width: 539px;
    }
    section.MiddelsteArticle img{
        width: 539px;
    }
    section.RechtArticle img {
        width: 539px;
    }
}

@media all and (min-width: 920px) {
    div.wrapper {
        width: 920px;
        margin: auto;
        background-color: #ffd6b7;
    }

    div.wrapper1 {
        width: 920px;
        margin: auto;
    }

    section.LinkerArticle{
        width: 305px;
    }
    section.RechtArticle {
        width: 305px;
    }
    section.MiddelsteArticle{
        width: 305px;
    }
    section.LinkerArticle img {
        width: 304px;
    }
    section.MiddelsteArticle img {
        width: 304px;
    }
    section.RechtArticle img {
        width: 304px;
    }
}

@media all and (min-width: 1200px) {
    body {
        background-color: white;
    }

    div.wrapper {
        width: 1200px;
        margin: auto;
        background-color: #ffd6b7;
    }

    section.LinkerArticle, section.MiddelsteArticle, section.RechtArticle {
        width: 399px;
    }

    div.wrapper1 {
        width: 1200px;
        margin: auto;
    }

    section.LinkerArticle img, section.MiddelsteArticle img, section.RechtArticle img {
        width: 398px;
    }
}

@media all and (min-width: 1500px) {
    div.wrapper {
        width: 1500px;
        margin: auto;
        background-color: #ffd6b7;
    }

    div.wrapper1 {
        width: 1500px;
        margin: auto;
    }

    section.LinkerArticle, section.MiddelsteArticle, section.RechtArticle {
        width: 499px;
    }

    section.LinkerArticle img, section.MiddelsteArticle img, section.RechtArticle img {
        width: 498px;
    }
}

/* Romek */